<br>
<br>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8" >
      <p class="text-center text-white" style="font-family: 'Acme';font-size: 120px;">
        <span style="color: yellow;"> {{ title }} </span>
        </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5 offset-md-1">
      <p class="text-center text-white" style="font-family: 'Shadows Into Light';font-size: 95px;">
        Hassle <span style="color:#99154e;" > FREE! </span>
      </p>
    </div>
  </div>
</div>